{% extends 'book/main.html' %}
 
{% block content %}
 
<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<form class="example" method="POST" action="" style="margin:auto;max-width:450px">
    {% csrf_token %}
    <input type="text" placeholder="Search Book..." name="search">
    <button type="submit"><i class="fa fa-search" style="height: 25px;"></i></button>
  </form>
  
  <br>
<div class="container">
<div class="container row">
    <div class="col-lg-10">
        <h3>BOOKS:</h3>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th><Title></Title></th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Edition</th>
                    <th></th>
                </tr>
                {% if result %}
                {% for book in result %}
                <tr>
                    
                    <td><b>{{book.title}}</b> </td>
                    <td>{{book.Author}} </td>
                    <td>{{book.Price}} </td>
                    <td> {{book.Edition}} </td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'addtocart' book.id %}">Add to cart</a> </td>
                </tr>
                {% endfor %}
                {% else %}
                {% for book in books %}
                <tr>
                    
                    <td><b>{{book.title}}</b> </td>
                    <td>{{book.Author}} </td>
                    <td>{{book.Price}} </td>
                    <td> {{book.Edition}} </td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'addtocart' book.id %}">Add to cart</a> </td>
                </tr>
                {% endfor %}

                {% endif %}
            </table>
        </div>
    </div>
 
    
</div>
 
{% endblock %}